<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Admin Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>
    <div class="container">
        <h2>Admin Action Logs</h2>
        <table>
            <thead>
                <tr>
                    <th>Admin ID</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.adminid }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
